specVersion: 0.0.2
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: Contract
    network: @network@
    source:
      address: "@Files@"
      startBlock: @FilesBlock@
      abi: Contract
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - ApprovalForAll
        - CategoryCreated
        - CategoryUpdated
        - ChildParentVote
        - Donate
        - ItemCoverUpdated
        - ItemCreated
        - ItemFilesUpdated
        - ItemUpdated
        - LinkUpdated
        - OwnedCategoryUpdated
        - Pay
        - SetARToETHCoefficient
        - SetARWallet
        - SetAuthorInfo
        - SetBuyerAffiliateShare
        - SetItemOwner
        - SetLastItemVersion
        - SetNick
        - SetOwner
        - SetSalesOwnerShare
        - SetSellerAffiliateShare
        - SetUploadOwnerShare
        - SetUpvotesOwnerShare
        - TransferBatch
        - TransferSingle
      abis:
        - name: Contract
          file: ./abis/Contract.json
      eventHandlers:
        - event: ApprovalForAll(indexed address,indexed address,bool)
          handler: handleApprovalForAll
        - event: CategoryCreated(indexed uint256,indexed address)
          handler: handleCategoryCreated
        - event: CategoryUpdated(indexed uint256,string,string)
          handler: handleCategoryUpdated
        - event: ChildParentVote(uint256,uint256,int256,int256,bool)
          handler: handleChildParentVote
        - event: Donate(indexed address,indexed address,indexed uint256,uint256)
          handler: handleDonate
        - event: ItemCoverUpdated(indexed uint256,indexed uint256,bytes,uint256,uint256)
          handler: handleItemCoverUpdated
        - event: ItemCreated(indexed uint256)
          handler: handleItemCreated
        - event: ItemFilesUpdated(indexed uint256,string,indexed uint256,bytes)
          handler: handleItemFilesUpdated
        - event: ItemUpdated(indexed uint256,(string,string,string,uint256,string,string))
          handler: handleItemUpdated
        - event: LinkUpdated(indexed uint256,(string,string,string,string,string,indexed uint256))
          handler: handleLinkUpdated
        - event: OwnedCategoryUpdated(indexed uint256,string,string,string,string,indexed address)
          handler: handleOwnedCategoryUpdated
        - event: Pay(indexed address,indexed address,indexed uint256,uint256,uint256,uint256,string)
          handler: handlePay
        - event: SetARWallet(indexed address,string)
          handler: handleSetARWallet
        - event: SetAuthorInfo(indexed address,string,string,string,string)
          handler: handleSetAuthorInfo
        - event: SetBuyerAffiliateShare(int128)
          handler: handleSetBuyerAffiliateShare
        - event: SetItemOwner(indexed uint256,indexed address)
          handler: handleSetItemOwner
        - event: SetLastItemVersion(indexed uint256,uint256)
          handler: handleSetLastItemVersion
        - event: SetNick(indexed address,string)
          handler: handleSetNick
        - event: SetOwner(address)
          handler: handleSetOwner
        - event: SetSalesOwnerShare(int128)
          handler: handleSetSalesOwnerShare
        - event: SetSellerAffiliateShare(int128)
          handler: handleSetSellerAffiliateShare
        - event: SetARToETHCoefficient(int128)
          handler: handleSetSellerAffiliateShare
        - event: SetUploadOwnerShare(int128)
          handler: handleSetUploadOwnerShare
        - event: SetUpvotesOwnerShare(int128)
          handler: handleSetUpvotesOwnerShare
        - event: TransferBatch(indexed address,indexed address,indexed address,uint256[],uint256[])
          handler: handleTransferBatch
        - event: TransferSingle(indexed address,indexed address,indexed address,uint256,uint256)
          handler: handleTransferSingle
      file: ./src/mapping.ts
