Header add Content-Security-Policy "default-src *; style-src 'unsafe-inline' 'self' https:; script-src 'unsafe-inline' 'unsafe-eval' 'self' https:; worker-src 'unsafe-inline' 'unsafe-eval' 'self' https: blob:; img-src 'self' data: https:"
